<meta charset="utf-8" />
<meta name="viewport" content="width=device-width">

<title>{{capitalizeEach title}} | {{site.name}}</title>
<meta content="{{pageDescription}}" name="description" />

<script type="text/javascript" src="//use.typekit.net/{{site.typekitID}}.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

{{> styles }}

<!-- build:js {{assets}}/js/modernizr.min.js -->
<script src="{{assets}}/js/libs/modernizr-custom.js"></script>
<!-- endbuild -->
