---
layout: base.hbs
---

<!DOCTYPE html>
<html class="no-js">
<head>
  {{> head }}
</head>
<body {{#if bodyClass}}class="{{bodyClass}}"{{/if}}>
  <header class="site-header" role="banner">
    <div class="container">
      {{> header }}
    </div>
  </header>
  <main class="site-main" role="main">
    <div class="container">
      <header class="page-header">
        <h1 class="page-title">{{#if pageTitle}}{{capitalizeEach pageTitle}}{{else}}{{capitalizeEach title}}{{/if}}</h1>
        {{#if description}}<p class="intro">{{description}}</p>{{/if}}
      </header>
      {{> body }}
    </div>
  </main>
  <footer class="site-footer" role="contentinfo">
    <div class="container">
      <div class="content">
        {{> footer }}
      </div>
    </div>
  </footer>
  {{> scripts }}
</body>
</html>
