<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />

<title>{{capitalizeEach title}} | {{site.name}}</title>
<meta content="{{pageDescription}}" name="description" />

{{!-- Google Fonts --}}
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700" />
{{> styles }}

<!-- build:js {{assets}}/js/modernizr.min.js -->
<script src="{{assets}}/js/libs/modernizr-custom.js"></script>
<!-- endbuild -->
